<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steve Task manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Add new task
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="new task" id="exampleModalLabel">Add title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form action = "/new" method="post">
  <div class="form-group">
    <label for="task title">task title</label>
    <input name ="title" type="text" class="form-control" id="exampleInputEmail1" placeholder="enter task title">
  </div>
          <div class="form-group">
    <label for="task title">task description</label>
    <input name="description" type="text" class="form-control" id="exampleInputEmail1"  placeholder="enter task description">
  </div>

                 <div class="form-group">
    <label for="start date">start date</label>
    <input name="startdate" type="date" class="form-control" id="exampleInputEmail1"  placeholder="enter start date">
  </div>

                          <div class="form-group">
    <label for="end date">end date</label>
    <input name = "enddate" type="date" class="form-control" id="exampleInputEmail1"  placeholder="enter end date">
  </div>

                          <div class="form-group">
    <label for="task title">status</label>
                              <select  name ="status" class ="form-control">
                                  <option value ="pending">pending</option>
                                  <option value ="complete">complete</option>
                                  <option value ="cancel">cancel</option>



                              </select>
  </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

      </div>

    </div>
  </div>
</div>

<!--end of model -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Descriprtion</th>
      <th scope="col">start date</th>
        <th scope="col">End date</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>




    </tr>
  </thead>
  <tbody>
     {% for task in tasks %}

    <tr>
        <th scope="row">{{ task.id }}</th>
         <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.startdate }}</td>
        <td>{{ task.enddate }}</td>
        <td>{{ task.status }}</td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{ task.id }}">
   Edit

</button>
            <!-- Modal -->
<div class="modal fade" id="modal{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="new task" id="exampleModalLabel">Edit task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form action = "/edit/{{ task.id   }}" method="post">
  <div class="form-group">
    <label for="task title">task title</label>
    <input name ="title" type="text" class="form-control" id="exampleInputEmail1" value="{{ task.title }}" placeholder="enter task title">
  </div>
          <div class="form-group">
    <label for="task title">task description</label>
    <input name="description" type="text" class="form-control" id="exampleInputEmail1"  value="{{ task.description }}" placeholder="enter task description">
  </div>

                 <div class="form-group">
    <label for="start date">start date</label>
    <input name="startdate" type="date" class="form-control" id="exampleInputEmail1"  value="{{ task.startdate }}" placeholder="enter start date">
  </div>

                          <div class="form-group">
    <label for="end date">end date</label>
    <input name = "enddate" type="date" class="form-control" id="exampleInputEmail1" value="{{ task.enddate }}" placeholder="enter end date">
  </div>

                          <div class="form-group">
    <label for="task title">status</label>
                              <select  name ="status" class ="form-control">
                                  <option value ="pending">pending</option>
                                  <option value ="complete">complete</option>
                                  <option value ="cancel">cancel</option>



                              </select>
  </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

      </div>

    </div>
  </div>
</div>

        </td>
        <td><a href="/delete/{{ task.id }}"><button class="btn btn-danger" type="button">Delete</button></a></td>

    </tr>
  {% endfor %}

  </tbody>
</table>

<img src="{{ graph|safe }}"  height="400px" typeof="image/svg"/>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>